@keyframes showPhoneAnimation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 2rem;
  }
}

div {
  &.welcome-animation__phone {

    height: 35rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);

    animation-name: showPhoneAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

    img {
      height: 100%;
      width: auto;
    }
  }
}