$initialLockSize: 5rem;
$hearthBeatLockSize: 7rem;

@keyframes securityHearthBeatAnimation {
  0% {
    width: $initialLockSize;
    font-size: large;
  }
  50% {
    width: $hearthBeatLockSize;
    font-size: x-large;
  }
  100% {
    width: $initialLockSize;
    font-size: large;
  }
}

div {
  &.welcome-animation {
    &__phone {
      &__security {
        position: absolute;
        left: 50%;
        top: 50%;
        width: $initialLockSize;
        aspect-ratio: 1/1;

        transform: translate(-50%, -50%);

        animation-name: securityHearthBeatAnimation;
        animation-delay: 2s;
        animation-duration: 1s;

        p {
          font-size: large;
          text-align: center;
          font-weight: bold;
          color: rgba(0, 98, 184, 0.62);
        }

        svg {
          height: 100%;
          width: 100%;
          color: #0065ce;
        }
      }
    }
  }
}
