div.meetings-section {
  text-align: center;

  .meetings-header {
    margin-block-end: 5rem
  }
}

.calendar-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}


@media (max-width: 720px) {
  .calendar-cards {
    justify-content: center;
  }
}