div.motto-section {
  margin-block: 15rem;

  h1.motto-section {
    text-align: center;
    font-size: xxx-large;
  }

  div.motto-about {
    margin-block: 8rem;
    font-size: x-large;
    text-align: center;

    &--elements {
      text-align: center;
      margin-inline: auto;
      width: min(40rem, 90%);
      padding-inline: 1rem;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          overflow-wrap: break-word;
          hyphens: auto;
        }
      }
    }
  }
}

