.topbar {
    background-color: #3b0b9b;
    color: white;
    font-family: "Outfit";
    font-size:1.5rem;
    padding: 0.15rem;
}
.item {
    padding-left: 0.15rem;
}
.item:hover {
    text-decoration: underline;
}

.link {
    color: white;
    text-decoration: none;
}