.team-member {
    display: flex;
    flex-direction: column;

    font-size: larger;
    text-align: center;
    text-wrap: nowrap;
    width: 15rem;
    margin: 1rem;

    b {
        width: 100%;
    }

    i {
        opacity: 0.5;
        width: 100%;
    }
}

.team-members {
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.team-img {
    display: flex;
    justify-content: center; 
    align-items: center;   
    width: 100%;           
    margin: auto;        
    padding: 1rem;
}