.team-member {
    font-size: larger;
    text-align: center;
    text-wrap: nowrap;
    font-family: "Outfit";
}

.team-members {
    padding: 1rem;
}

.team-img {
    display: flex;
    justify-content: center; 
    align-items: center;   
    width: 100%;           
    margin: auto;        
    padding: 1rem;
}